body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font: 12PX/1.5 tahoma, arial, 'microsoft yahei', sans-serif
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

address, cite, dfn, em, var {
  font-style: normal;
}

code, kbd, pre, samp {
  font-family: couriernew, courier, monospace;
}

small {
  font-size: 12PX;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset, img {
  border: 0;
}

button, input, select, textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, html {
  position: relative;
  height: 100%;
}

.container {
  width: 970px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

div {
  box-sizing: border-box;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.more-warp {
  height: 26px;
}

.more-warp .icon-more {
  font-size: 26px;
  color: #333;
  line-height: 1;
  cursor: pointer;
}

.news-title {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #333;
}

.news-title .iconfont {
  color: red;
  margin-right: 5px;
  font-size: 18px;
}

.ic-ul-li {
  cursor: pointer;
}
